button.big_button {
    background-color: var(--anothercolor);
    padding: 01rem 2em;
    border-radius: 0.4rem;
    border: none;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--fontsize-16);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

button.big_button:hover {
    transform: scale(1.05);
}

button.big_button:disabled {
    background-color: var(--secondarycolor);
    cursor: not-allowed;
}
button.big_button:disabled:hover {
    transform: none;
}
