.header-web{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 60px;

}

.logo {
    color: var(--primarycolor);
    font-size: var(--fontsize-32);
    font-weight: 700;
}

.searchbar {
    border-radius: 0.8rem;
    border: solid 1px var(--iconcolor);
    color: var(--textcolor);
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--textcolor);
}

.header-icons img {
    width: 24px;
    height: 24px;
    color: var(--primarycolor)
}

.header-mobile {
    display: none;
}
