.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 60px;
}
@media (max-width: 600px) {
  .header {
      margin: 4rem 8vw;
  }
}

.logo {
  color: var(--primarycolor);
  font-size: var(--fontsize-32);
  font-weight: 700;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--textcolor);
}

.header-icons img {
  width: 24px;
  height: 24px;
  color: var(--primarycolor);
}