html {
    background-color: var(--backgroundcolor);
}

.homepage-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.homepage-container .go_to_filter_button {
    margin: 0 5vw;
}

@media (max-width: 600px) {
    .homepage-container .go_to_filter_button {
        margin: 0 7vw;
    }
}

.homepage-container .vehicle_card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 3.2rem 5vw;
    max-width: 2300px;
    justify-content: center;
}

@media (max-width: 1220px) {
    .homepage-container .vehicle_card_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 880px) {
    .homepage-container .vehicle_card_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .homepage-container .vehicle_card_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.homepage-container .load-more-button {
    margin: 2rem auto 4rem auto;
}
