.payment_page {
    padding: 3.2rem 5vw;
    background-color: var(--reviewcolor);
}

@media (max-width: 750px) {
    .payment_page {
        padding: 3.2rem 7vw;
    }
}

.payment_page .back {
    margin-bottom: 4.8rem;
}

.payment_page .back img {
    margin-right: 0.8rem;
}

.payment_page .back a {
    color: var(--additionalcolor);
    font-size: var(--fontsize-16);
    text-decoration: none;
}

.payment_page .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
}

@media (max-width: 1000px) {
    .payment_page .grid {
        grid-template-columns: 1fr;
    }
}


.payment_page .container {
    max-width: 100%;
    background-color: var(--backgroundcolor);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}

.payment_page h2 {
    font-size: var(--fontsize-24);
    color: var(--anothercolor);
    margin-bottom: 0.5rem;
}

.payment_page p {
    color: var(--iconcolor);
    font-size: var(--fontsize-14);
    margin-bottom: 2rem;
}

.payment_page .billing_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 750px) {
    .payment_page .billing_grid {
        display: grid;
        grid-template-columns: 1fr;

    }
}

.payment_page input {
    padding: 1.1rem;
    font-size: var(--fontsize-16);
    color: var(--textcolor);
    font-weight: 400;
    border: 1px solid var(--iconcolor);
    background-color: white;
    border-radius: 0.8rem;
}

.payment_page input::placeholder {
    font-size: var(--fontsize-14);
    color: var(--primarycolor);
    font-weight: 400;
}

.payment_page .rental-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.payment_page .rental-section select {
    padding: 1.1rem;
    font-size: var(--fontsize-16);
    border: 1px solid var(--iconcolor);
    background-color: white;
    border-radius: 0.8rem;
}

.payment_page .rental-section .pick_up_input,
.payment_page .rental-section .drop_off_input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


@media (max-width: 750px) {

    .payment_page .rental-section .pick_up_input,
    .payment_page .rental-section .drop_off_input {
        grid-template-columns: 1fr;
    }
}

.payment_page .rental-section h3 {
    font-size: var(--fontsize-16);
    color: var(--textcolor);
    font-weight: 400;
    margin-bottom: 3rem;
}

.payment_page .payment_stripe {
    background-color: white;
    font-size: var(--fontsize-16);
    padding: 1.5rem;
    color: var(--textcolor);
    border-radius: 0.8rem;
    display: flex;
    margin-bottom: 2rem;
}

.payment_page .payment_stripe input {
    margin-right: 1rem;
}

.payment_page .payment_stripe label {
    display: flex;
    align-items: center;
    width: 100%;
}

.payment_page .payment_stripe img {
    height: 1.8rem;
}

.payment_page .agreement {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.payment_page .agreement_stripe {
    background-color: white;
    font-size: var(--fontsize-14);
    padding: 1.5rem;
    color: var(--textcolor);
    border-radius: 0.8rem;
}

.payment_page .agreement_stripe input {
    margin-right: 1rem;

}

.payment_page .secure-info {
    font-size: var(--fontsize-14);
    color: var(--iconcolor);
    margin-top: 2rem;
}

.payment_page .rental_summary {
    width: 100%;
    /* min-height: 40%; */
    background-color: var(--backgroundcolor);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    align-self: start;
}

.payment_page .rent-button {
    background-color: var(--anothercolor);
    padding: 01rem 2em;
    border-radius: 0.4rem;
    border: none;
    display: inline-block;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--fontsize-16);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.payment_page .rent-button:hover {
    transform: scale(1.05);
}