/* Sidebar Container */
.sidebar {
  min-width: 25rem;
  padding: 2rem;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  color: var(--textcolor);
}

@media (max-width: 600px) {
  .sidebar {
    border-right: none;
  }
}

.sidebar h3 {
  color: var(--anothercolor);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: var(--fontsize-16);
  font-weight: 800;
  border-bottom: 1px solid var(--anothercolor);
  padding-bottom: 0.5rem;
}

/* Select Element (Cities) */
.sidebar select {
  padding: 1.1rem;
  font-size: var(--fontsize-16);
  border: 1px solid var(--iconcolor);
  background-color: white;
  border-radius: 0.8rem;
  width: 100%;
  color: var(--textcolor);
  /* Remove default select arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 4 5%22%3E%3Cpath fill%3D%22%23343a40%22 d%3D%22M2 0L0 2h4zm0 5L0 3h4z%22%2F%3E%3C%2Fsvg%3E"); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 8px 10px;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.sidebar select:focus {
  border-color: var(--anothercolor);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

/* Checkbox and Label Styling */
.sidebar div label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: var(--fontsize-14);
  font-weight: 400;
  color: var(--textcolor);
  transition: color 0.2s ease-in-out;
}

.sidebar div label:hover {
  color: var(--primarycolor);
}

.sidebar input[type="checkbox"] {
  margin-right: 1rem;
  width: 18px;
  height: 18px;
  border: 2px solid var(--primarycolor);
  border-radius: 6px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.sidebar input[type="checkbox"]:checked {
  background-color: var(--primarycolor);
  border-color: var(--primarycolor);
}

.sidebar input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 2px;
}

.sidebar input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: var(--secondarycolor);
  border-radius: 5px;
  outline: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.sidebar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--anothercolor);
  border-radius: 50%;
  cursor: grab;
  transition: background-color 0.2s ease-in-out;
}

.sidebar input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--anothercolor);
  border-radius: 50%;
  cursor: grab;
  transition: background-color 0.2s ease-in-out;
}

.sidebar input[type="range"]::-webkit-slider-thumb:active,
.sidebar input[type="range"]::-moz-range-thumb:active {
  background: var(--anothercolor);
  cursor: grabbing;
}

.sidebar p {
  font-size: var(--fontsize-14);
  font-weight: 400;
  color: var(--textcolor);
  text-align: center;
  margin-top: 0;
}

.reset-filters {
  background-color: var(--primarycolor);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  width: 100%;
  margin-top: 5rem;
}

.reset-filters:hover {
  background-color: var(--anothercolor);
}
