.vehicle_card {
    background-color: white;
    padding: 20px;
    max-width: 460px;
    border-radius: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.vehicle_card img {
    width: 100%;
    max-width: 40rem;
    height: 20rem;
    align-self: center;
    border-radius: 0.5rem;
    object-fit: cover;

}

.vehicle_card_image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.vehicle_card_header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.vehicle_card h3 {
    font-size: var(--fontsize-16);
    font-weight: 700;
    color: var(--textcolor);
}



.vehicle_card_details {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    gap: 1rem;
}


.vehicle_card p {
    font-size: var(--fontsize-14);
    color: var(--textcolor);
}

.vehicle_card span {
    font-weight: 700;
}

.vehicle_card_horst {
    padding: 0px 5px
}

.vehicle_card_info {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.vehicle_card_icon_container {
    display: flex;
    gap: 0.5rem;
}

.vehicle_card_horstpower {

    justify-content: center;
    text-align: center;
}

.vehicle_card_pricebooking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 15px 10px;
}

svg.lucide-heart-icon {
    stroke: var(--primarycolor);
}

svg.lucide-heart-icon .lucide-heart-filled {
    stroke: var(--primarycolor);
    fill: var(--primarycolor);
}

svg.lucide-gear-icon,
svg.lucide-fuel-icon,
svg.lucide-seats-icon {
    stroke: var(--anothercolor);
}