@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../public/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

img {
    max-width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

:root {
    --fontsize-12: 1.2rem;
    --fontsize-14: 1.4rem;
    --fontsize-16: 1.6rem;
    --fontsize-18: 1.8rem;
    --fontsize-20: 2rem;
    --fontsize-24: 2.4rem;
    --fontsize-32: 3.2rem;
    --fontsize-36: 3.6rem;
    --fontsize-40: 4rem;
    --fontsize-72: 7.2rem;

    --backgroundcolor: #f0f0f0;
    --inputcolor: #d2d2d2;
    --primarycolor: #ff7f59;
    --additionalcolor: #ffa37a;
    --anothercolor: #01a5a5;
    --secondarycolor: #ffc8a6;
    --tertiarycolor: #ffe7d3;
    --textcolor: #333333;
    --iconcolor: #969696;
    --reviewcolor: #d2d2d2;
    --favoritecolor: #db2719;

    --defaultpagemargin: 32px 54px;
}
